#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.rep-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(80, 255, 161);
  border-radius: 10px;
  padding: 10px;
  z-index: 1;
}

.rep-container:hover {
  background-color: rgb(100, 255, 181);
}

.button-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  animation: rotate 10s linear infinite;
}

.button-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
